<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>cc.donm.mutabit.mbit</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).MbitDocument</string>
		</dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>cc.donm.mutabit.mbit.zip</string>
            </array>
            <key>NSDocumentClass</key>
            <string>$(PRODUCT_MODULE_NAME).MbitDocument</string>
        </dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mutabit Document</string>
			<key>UTTypeIdentifier</key>
			<string>cc.donm.mutabit.mbit</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mbit</string>
				</array>
			</dict>
		</dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.archive</string>
                <string>public.zip-archive</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Mutabit Archive</string>
            <key>UTTypeIdentifier</key>
            <string>cc.donm.mutabit.mbit.zip</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>mbit.zip</string>
                </array>
            </dict>
        </dict>
	</array>
</dict>
</plist>
